
span{
    font-size: 13px;
}
th,td{
    border:1px solid #d9d9d9 ;
    font-size:12px;
    text-align: center !important;
}

th{
    background-color: #287B8D;
    color:white;
    padding: 13px;
}
button.second
{
    font-size: 12px;
    padding: 6px 12px;
}
.container{
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
td{
    padding: 5px;
}
td.last{
    border:none;
}
td.last.left{
    border-right: 1px solid #d9d9d9 ;
}
input{
    font-size: 13px !important;
}